.alerta {
    display: none;
    background-color: #ffdddd;
    color: #ff0000;
    padding: 0.45rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
  }


  .titulo-calendario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
  }
  
.titulo-calendario button {
background: none;
border: none;
cursor: pointer;
font-size: 1.5rem;
font-weight: bold;
}
  
.calendario{
margin-bottom: 2rem; 
}
  
.mes {
text-align: center;
background-color: #ddd;
padding: 0.625rem; 
border-radius: 0.5rem; 
cursor: pointer;
transition: background-color 0.3s ease;
}
  
.mes-futuro {
color: #880d0d;
cursor: not-allowed;
}

.mes.selecionado {
background-color: blue;
color: white;
}

#anoCalendario {
margin-top: 0.5rem;
align-self: center;
}
