.titulo-calendario {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
  
.titulo-calendario button {
background: none;
border: none;
cursor: pointer;
font-size: 1.5rem;
font-weight: bold;
}
  
.calendario{
margin-bottom: 2rem; 
}
  
.mes {
text-align: center;
background-color: #ddd;
padding: 0.625rem; 
border-radius: 0.5rem; 
cursor: pointer;
transition: background-color 0.3s ease;
}

.clicavel:hover{
  transform: scale(0.93);
  background-color: #2abbdb;
}

  
.mes-futuro {
color: #880d0d;
cursor: not-allowed;
}

.mes.selecionado {
background-color: #0c5ef5;
color: #fff;
}

.mes-container {
  border: 0.1rem solid #ccc;
  border-radius: 0.9rem;
  overflow: hidden;
  margin-top: -1rem;
}

.hide-container{
  display: none;
}

.alto-consumo{
  color: #ff0000;
}

.baixo-consumo{
  color: #32CD32;
}

.consumo-na-media{
  color:#525050;
}


.centralizar-texto{
  color: #525050;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  text-align: center;
}

.centralizar-titulos-card-botao{
  display: flex;
  justify-content: center;
  text-align: center;
}


.tamanho-input{
  width: 90%;
}

.centralizar-input-select-div{
  display: flex;
  justify-content: center;
}

.nao-registrado-encontrado{
  color: #525050;
  display: flex;
  justify-content: center;
  text-align: center;
}

.informacoes-negrito{
  font-weight: 700;
}

.margem-card{
  margin-bottom: 0.3rem;
}

.mostrar-mais{
  text-decoration: none;
  color: #000;
}